<!DOCTYPE html>
<html ng-app="app" ng-controller="AppController">
<head>
    <meta version="@@buildName"/>
    <meta buildTime="@@timestamp"/>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/icon/icon-72@2x.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/icon/icon-72@2x.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/icon/icon-72.png">
    <link rel="apple-touch-icon-precomposed" href="images/icon/icon.png">
    <link rel="icon" type="image/x-icon" href="/images/icon/icon.ico"/>

    <title>New Game v.@@buildNumber</title>
    <link rel="stylesheet" href="vendor/styles/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="vendor/styles/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="vendor/styles/themes/slate.css">

    <!-- build:template
    <link rel="stylesheet" href="<%= minifiedLayoutCSSFile %>"/>
    <link rel="stylesheet" href="<%= minifiedDirectivesCSSFile %>"/>
    <!-- /build -->

    <!-- build:remove -->
    <link rel="stylesheet" href="styles/layout.css">
    <!-- /build -->

</head>
<body>

    <div>
        <div class="container">
            <div ng-view class="app-content"></div>
        </div>
    </div>


    <script src="vendor/scripts/angular.js"></script>
    <script src="vendor/scripts/angular-route.js"></script>
    <script src="vendor/scripts/angular-touch.min.js"></script>
    <script src="vendor/scripts/angular-sanitize.min.js"></script>
    <script src="vendor/scripts/ui-bootstrap-custom-tpls-0.10.0.min.js"></script>
    <script src="vendor/scripts/underscore.js"></script>
    <script src="vendor/scripts/iscroll.js"></script>


    <!-- build:template
           <script src="<%= minifiedBuildFile %>"></script>
           <script src="<%= minifiedDirectivesFile %>"></script>
           <script src="<%= ngTemplatesFile %>"></script>
    <!-- /build -->


    <!-- build:remove -->
    <!-- APP SETTINGS -->
    <script src="scripts/config/appSettings.js"></script>

    <!-- APP CONFIG -->
    <script src="scripts/app.js"></script>
    <script src="scripts/config/appConfig.js"></script>
    <script src="scripts/config/appSetup.js"></script>

    <!-- UTIL -->
    <script src="scripts/util/util.js"></script>
    <script src="scripts/util/logger.js"></script>

    <!-- SERVICES -->
    <script src="scripts/services/support/localStorageService.js"></script>
    <script src="scripts/services/support/lastSelectedService.js"></script>
    <script src="scripts/services/support/navigationService.js"></script>
    <script src="scripts/services/support/scrollBarService.js"></script>
    <script src="scripts/services/support/userDataService.js"></script>

    <!-- ROUTES -->
    <script src="scripts/routes/globalResolve.js"></script>
    <script src="scripts/routes/mainRoutes.js"></script>

    <!-- CONTROLLERS -->
    <script src="scripts/controllers/appController.js"></script>
    <script src="scripts/controllers/home.js"></script>


    <!-- /build -->

</body>
</html>
